---
layout: base
---
<div class="wrapper">
  <header>
    <div class="logo-container">
      <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.logo }}')"></a>
    </div>

    <div class="title-container">
      <h1>{{ site.title }}</h1>
    </div>

    {% if site.tagline %}
    <div class="tagline-container">
      <p>{{ site.tagline }}</p>
    </div>
    {% endif %}

    <div class="about-container">
      <p>Enter the password to the right (or below if on mobile) to get the event info. If you don't know it, ask {{ site.event.host }}.</p>
    </div>

  </header>
  <main>
    <div class="content">
      {% include encrypted.html %}
    </div>
  </main>
</div>
