---
---

$text-color: #3A2449;
$anchor-text-color: #94C595;
$background-color: #747C92;

html {
  font-family: 'Vollkorn', serif;
	color: $text-color;
	background-color: $background-color;
}

.body {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: left;
}

.body__content {
  text-align: left;
}

.header {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: left;
}
