<html>

<head>
  <link rel="stylesheet" href="assets/main.css" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <title><!-- title --></title>
</head>

<body class="font-sans text-text bg-background m-auto w-4/5 p-10 text-left">
  <main>
    <div>
      <h1><!-- title --></h1>
      <p><!-- title_description --></p>

      <h2>Details</h2>
      <p><!-- details_description --></p>

      <h3>Location</h3>
      <div>
        <a href="https://goo.gl/maps/877HcdHtookUHhjPA">
          <p><!-- address_street --></p>
          <p><!-- address_city-state-zip --></p>
        </a>
      </div>

      <h3>Time</h3>
      <p><!-- time_description --></p>

      <h2>Add to Calendar</h2>
      <div class="inline-block">
        <div class="inline-block">
          <a href="<!-- google_event_url -->">
            <img class="align-middle max-w-1/2 h-auto float-left" src="assets/images/google-100.png"
              alt="Add to Google Calendar">
          </a>
        </div>

        <div class="inline-block">
          <a href="<!-- event_file_path -->">
            <img class="align-middle max-w-1/2 h-auto float-left" src="assets/images/apple-100.png"
              alt="Add to Apple Calendar">
          </a>
        </div>
      </div>

      <h2>Contact</h2>
      <p><!-- contact_description --></p>

      <div class="inline-block">
        <div class="align-middle max-w-1/2 h-auto float-left">
          <a href="sms:<!-- sms -->">
            <img class="align-middle max-w-1/2 h-auto float-left"
              src="assets/images/sms-100.png" alt="Text Me">
          </a>
        </div>
        <div class="align-middle max-w-1/2 h-auto float-left">
          <a href="tel:<!-- phone -->">
            <img class="align-middle max-w-1/2 h-auto float-left"
              src="assets/images/phone-100.png" alt="Call Me">
          </a>
        </div>
        <div class="align-middle max-w-1/2 h-auto float-left">
          <a href="mailto:<!-- email_address -->?subject=<!-- email_subject -->">
            <img class="email-logo align-middle max-w-1/2 h-auto float-left"
              src="assets/images/email-100.png" alt="Email Me">
          </a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
